body{
  background-color: #026873;
  background-color: #f1f0f2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");    
  margin: 10% 10%
}

.header{
  text-align: center;
  color: #2391B9;
  border-top: 1px solid black;
  border-bottom: 1px solid black; 
}
.
h1{
  margin-bottom: -18px;
}
h4{
    margin-bottom: -10px;

}
h5{
  line-height: 0em;
}

.all-arts {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.art{
  background-color: 
}

.summary{
  text-align: center;
  color: black;
  margin-bottom: -10px;
    
}
.education-header{
  text-align: center;
  text-decoration: underline;
}

#col-header{
  margin-bottom: -15px;
  font-weight: bold;
}

#coast-header{
  font-weight: bold;
  margin-bottom: -6px;
}

.experience-header{
  text-align: center;
  text-decoration: underline;
}



.academ-awards{
  text-align: center;
  text-decoration: underline;

}

#coastline1{
  line-height: 0em;

}

.experience-header{
  text-align: center;
  text-decoration: underline;
}

#role1, #role2, #role3{
  font-weight: bold;
}

.prof-awards{
  text-align: center;
  text-decoration: underline;

}
